@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

p, h1, h2 , h3 {
  margin: 0;
}


.app {
  background-color: white;
  padding: 50px;
  min-height: 100vh;
}
.app-title {
  margin-top: 2rem;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  text-align: center;
  color: rgb(12, 134, 182);
}
.app-content {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  align-items: top;
}

.app h3 {
  text-align: center;
}